In [36]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np

- Restaurant - Number of branches - Locations
- Restaurant - Cuisines
- Restaurant - Popularity (Number of Branches, Votes, Reviews)
- Restaurant - Cost
- Restaurant - Delivery Time
- Cuisine - Number of Branches, Votes, Reviews)
- Group the cuisines into categories - Regional,

## Read dataset & inspect

In [37]:
food = pd.read_excel('data/Data_Train.xlsx')
food

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes
...,...,...,...,...,...,...,...,...,...
11089,ID_8067,"BTM Layout 1, Electronic City","Tibetan, Chinese, Continental, Momos",₹250,₹50,4.2,326,189,30 minutes
11090,ID_4620,"Sector 14, Noida",Fast Food,₹100,₹50,3.6,36,16,30 minutes
11091,ID_3392,Majestic,"South Indian, Chinese, North Indian",₹100,₹50,3.5,45,18,30 minutes
11092,ID_4115,"Sector 3, Marathalli",North Indian,₹100,₹50,3.1,24,9,30 minutes
11093,ID_4417,"Sector 63A,Gurgaon",North Indian,₹100,₹50,NEW,-,-,30 minutes

In [38]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11094 entries, 0 to 11093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Restaurant     11094 non-null  object
 1   Location       11094 non-null  object
 2   Cuisines       11094 non-null  object
 3   Average_Cost   11094 non-null  object
 4   Minimum_Order  11094 non-null  object
 5   Rating         11094 non-null  object
 6   Votes          11094 non-null  object
 7   Reviews        11094 non-null  object
 8   Delivery_Time  11094 non-null  object
dtypes: object(9)
memory usage: 780.2+ KB

In [39]:
food.describe()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
count,11094,11094,11094,11094,11094,11094,11094,11094,11094
unique,7480,35,2179,26,18,33,1103,761,7
top,ID_7184,"Mico Layout, Stage 2, BTM Layout,Bangalore",North Indian,₹200,₹50,-,-,-,30 minutes
freq,22,947,850,3241,10118,1191,2074,2312,7406

In [40]:
food.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",₹200,₹50,3.5,12,4,30 minutes
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",₹100,₹50,3.5,11,4,30 minutes
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30,65 minutes
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",₹250,₹99,3.7,176,95,30 minutes
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",₹200,₹99,3.2,521,235,65 minutes

In [41]:
len(food['Restaurant'].unique().tolist())

7480

## Preporcessing
- Convert to correct format
- Handle Missing/invalid value

- Average_Cost : Convert to int
- Rating, Votes, Reviews : 
    - Convert to int
    - All non-ints --> NaNs --> 0

In [42]:
# Average_Cost
print(food['Average_Cost'].head(3))
food['Average_Cost'] = food['Average_Cost'].apply(lambda x: str(x[1:].replace(',','')))
food['Average_Cost'] = pd.to_numeric(food['Average_Cost'], errors='coerce')
food['Average_Cost'].isnull().sum()
print(food.shape[0])
food.dropna(inplace=True)
print(food.shape[0])
food['Average_Cost'].head(3)

0    ₹200
1    ₹100
2    ₹150
Name: Average_Cost, dtype: object
11094
11093

0    200.0
1    100.0
2    150.0
Name: Average_Cost, dtype: float64

In [43]:
# Rating, Votes, Reviews
food['Rating'] = pd.to_numeric(food['Rating'], errors='coerce')
food['Votes'] = pd.to_numeric(food['Votes'], errors='coerce')
food['Reviews'] = pd.to_numeric(food['Reviews'], errors='coerce')
print(food[['Rating','Votes','Reviews']].isnull().sum())
food[['Rating','Votes','Reviews']] = food[['Rating','Votes','Reviews']].fillna(0)
print(food[['Rating','Votes','Reviews']].isnull().sum())

Rating     1962
Votes      2073
Reviews    2311
dtype: int64
Rating     0
Votes      0
Reviews    0
dtype: int64

In [44]:
food.dtypes

Restaurant        object
Location          object
Cuisines          object
Average_Cost     float64
Minimum_Order     object
Rating           float64
Votes            float64
Reviews          float64
Delivery_Time     object
dtype: object

In [45]:
# Extract city from the location and add it as a column

## food_location

In [46]:
food.groupby(by='Location').agg({'Restaurant':'count'}).sort_values(by='Restaurant', ascending=False)

                                                  Restaurant
Location
Mico Layout, Stage 2, BTM Layout,Bangalore               947
D-Block, Sector 63, Noida                                806
Sector 1, Noida                                          791
FTI College, Law College Road, Pune                      584
Delhi University-GTB Nagar                               545
Laxman Vihar Industrial Area, Sector 3A, Gurgoan         493
Sector 14, Noida                                         489
Delhi Administration Flats, Timarpur                     472
Mumbai Central                                           459
Rmz Centennial, I Gate, Whitefield                       457
Delhi High Court, India Gate                             411
MG Road, Pune                                            402
Nathan Road, Mangaldas Road, Pune                        372
Sandhurst Road, Mumbai CST Area                          370
Sector 3, Marathalli                                     366
Majestic                                                 334
Delhi Cantt.                                             326
Yerawada, Pune, Maharashtra                              307
Dockyard Road, Mumbai CST Area                           291
Babarpur, New Delhi, Delhi                               282
Pune University                                          277
Sector 63A,Gurgaon                                       260
Moulali, Kolkata                                         137
Chandni Chowk, Kolkata                                   126
Tejas Nagar Colony, Wadala West, Mumbai                  109
Raja Bazar, Kolkata                                      108
Tiretti, Kolkata                                          96
Hyderabad Public School, Begumpet                         81
Gora Bazar, Rajbari, North Dumdum, Kolkata                79
Noorkhan Bazaar, Malakpet, Hyderabad                      68
Musi Nagar, Malakpet, Hyderabad                           68
Panjetan Colony, Malakpet, Hyderabad                      56
Chatta Bazaar, Malakpet, Hyderabad                        54
Jaya Nagar, Saidabad, Hyderabad                           48
BTM Layout 1, Electronic City                             22

In [47]:
#food['City'] = food['Location'].apply(lambda x : len(x.split(',')))
food['City'] = food['Location'].apply(lambda x: x.split(',')[-1].strip() if len(x.split(',')) > 0 else x.split(',')[0].strip())
food.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,City
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",200.0,₹50,3.5,12.0,4.0,30 minutes,Pune
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",100.0,₹50,3.5,11.0,4.0,30 minutes,Marathalli
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",150.0,₹50,3.6,99.0,30.0,65 minutes,Mumbai Central
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",250.0,₹99,3.7,176.0,95.0,30 minutes,Noida
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",200.0,₹99,3.2,521.0,235.0,65 minutes,Whitefield

In [48]:
food['City'].value_counts()

Noida                         2086
Pune                          1358
Bangalore                      947
Mumbai CST Area                661
Kolkata                        546
Delhi University-GTB Nagar     545
Gurgoan                        493
Timarpur                       472
Mumbai Central                 459
Whitefield                     457
India Gate                     411
Marathalli                     366
Majestic                       334
Delhi Cantt.                   326
Maharashtra                    307
Hyderabad                      294
Delhi                          282
Pune University                277
Gurgaon                        260
Mumbai                         109
Begumpet                        81
Electronic City                 22
Name: City, dtype: int64

In [49]:
def getCity(x):
    if x in ['Mumbai CST Area', 'Mumbai Central', 'Maharashtra']: return 'Mumbai'
    if x in ['Delhi University-GTB Nagar', 'Timarpur','India Gate', 'Delhi Cantt.' ]: return 'Delhi'
    if x in ['Whitefield','Marathalli', 'Majestic', 'Electronic City' ]: return 'Bangalore'
    if x in ['Begumpet']: return 'Hyderabad'
    if x in ['Gurgoan']: return 'Gurgaon'
    if x in ['Pune University']: return 'Pune'
    return x
    

food['City'] = food['City'].apply(lambda x: getCity(x))

In [50]:
food['City'].value_counts()

Bangalore    2126
Noida        2086
Delhi        2036
Pune         1635
Mumbai       1536
Gurgaon       753
Kolkata       546
Hyderabad     375
Name: City, dtype: int64

In [51]:
food.to_csv("out/restaurant.csv")

In [52]:
food_city = food.groupby(by='City').agg({'Restaurant':'count', 'Average_Cost': np.average, 'Rating': np.average, 'Votes': np.average, 'Reviews': np.average}).round(2)
print(food_city.sort_values(by='Restaurant', ascending=False))
print(food_city.sort_values(by='Average_Cost', ascending=False))

           Restaurant  Average_Cost  Rating   Votes  Reviews
City
Bangalore        2126        192.29    3.05  199.05    96.42
Noida            2086        204.79    2.89  161.93    84.20
Delhi            2036        205.89    2.95  201.52   103.45
Pune             1635        216.82    3.01  246.58   123.00
Mumbai           1536        223.40    3.07  236.86   119.99
Gurgaon           753        201.66    2.75  103.08    49.54
Kolkata           546        161.45    2.95  230.99   105.48
Hyderabad         375        148.80    3.07  170.25    28.81
           Restaurant  Average_Cost  Rating   Votes  Reviews
City
Mumbai           1536        223.40    3.07  236.86   119.99
Pune             1635        216.82    3.01  246.58   123.00
Delhi            2036        205.89    2.95  201.52   103.45
Noida            2086        204.79    2.89  161.93    84.20
Gurgaon           753        201.66    2.75  103.08    49.54
Bangalore        2126        192.29    3.05  199.05    96.42
Kolkata           546        161.45    2.95  230.99   105.48
Hyderabad         375        148.80    3.07  170.25    28.81

## food_restaurant

In [53]:
food.columns

Index(['Restaurant', 'Location', 'Cuisines', 'Average_Cost', 'Minimum_Order',
       'Rating', 'Votes', 'Reviews', 'Delivery_Time', 'City'],
      dtype='object')

### food_restaurant_cuisine

In [54]:
food_restaurant_1 = food.groupby(by=['Restaurant', 'Cuisines']).agg({'Cuisines':'count', 'City': 'nunique', 'Rating':np.average, 'Votes': np.average, 'Reviews':np.average}).round(2)
food_restaurant_1.rename(columns={'Cuisines':'Count'}, inplace=True)
food_restaurant_1.reset_index(inplace=True)
print(food_restaurant_1.sort_values(by='Count', ascending=False))

     Restaurant                                    Cuisines  Count  City  \
4376    ID_5321  Biryani, Hyderabadi, North Indian, Mughlai     19     7
4591    ID_5538                     North Indian, Beverages     19     8
1333    ID_2301                            Pizza, Fast Food     17     6
6844    ID_7750      Asian, Biryani, North Indian, Desserts     14     6
3713    ID_4654                           Burger, Fast Food     14     5
...         ...                                         ...    ...   ...
3027    ID_3992                       Biryani, North Indian      1     1
3024     ID_399                                      Andhra      1     1
3023    ID_3989                     North Indian, Fast Food      1     1
3021    ID_3986         Rolls, Kebab, Mughlai, North Indian      1     1
3961    ID_4904                       Mughlai, North Indian      1     1

      Rating   Votes  Reviews
4376    1.77    5.16     3.05
4591    2.06    3.47     1.53
1333    3.57  452.53   101.47
6844    3.86   47.21    34.71
3713    3.74  369.57   135.00
...      ...     ...      ...
3027    3.10   20.00     6.00
3024    2.90    4.00     1.00
3023    0.00    0.00     0.00
3021    3.50   31.00    14.00
3961    3.60   43.00    20.00

[7923 rows x 7 columns]

In [55]:
print(food_restaurant_1.sort_values(by='Count', ascending=False)[:10])

     Restaurant                                    Cuisines  Count  City  \
4376    ID_5321  Biryani, Hyderabadi, North Indian, Mughlai     19     7
4591    ID_5538                     North Indian, Beverages     19     8
1333    ID_2301                            Pizza, Fast Food     17     6
6844    ID_7750      Asian, Biryani, North Indian, Desserts     14     6
3713    ID_4654                           Burger, Fast Food     14     5
6258    ID_7184    Fast Food, Healthy Food, Sandwich, Salad     13     5
3008    ID_3970                           Burger, Fast Food     13     4
6635    ID_7544                         Desserts, Beverages     13     4
6277     ID_720              Biryani, North Indian, Mughlai     12     6
5301    ID_6229                            Rolls, Fast Food     11     4

      Rating   Votes  Reviews
4376    1.77    5.16     3.05
4591    2.06    3.47     1.53
1333    3.57  452.53   101.47
6844    3.86   47.21    34.71
3713    3.74  369.57   135.00
6258    3.71  195.62    63.69
3008    3.66  771.77   221.62
6635    3.95  282.00   155.08
6277    4.06  320.25   113.83
5301    4.23  420.18   192.55

In [56]:
food_restaurant_1.columns

Index(['Restaurant', 'Cuisines', 'Count', 'City', 'Rating', 'Votes',
       'Reviews'],
      dtype='object')

In [57]:
food_restaurant_1[food_restaurant_1['Restaurant'].isin(['ID_7184','ID_7295','ID_4625'])]

,Restaurant,Cuisines,Count,City,Rating,Votes,Reviews
3678,ID_4625,"Fast Food, North Eastern, Momos",11,3,1.04,2.18,2.09
3679,ID_4625,"North Eastern, Momos, Fast Food, Beverages, Ti...",9,3,2.17,1.89,1.44
6258,ID_7184,"Fast Food, Healthy Food, Sandwich, Salad",13,5,3.71,195.62,63.69
6259,ID_7184,"Wraps, Healthy Food, Sandwich, Salad",9,3,3.79,542.67,157.89
6377,ID_7295,"Bakery, Desserts",9,4,3.84,65.67,40.33
6378,ID_7295,"Bakery, Desserts, Ice Cream",11,3,3.64,59.73,29.82

### food_restaurant

In [58]:
food_restaurant = food.groupby(by='Restaurant').agg({'Cuisines':'count', 'City': 'nunique', 'Average_Cost': np.average, 
                                                        'Rating':np.average, 'Votes': np.average, 'Reviews':np.average}).round(2)
food_restaurant.rename(columns={'Cuisines':'Count'}, inplace=True)
print(food_restaurant.sort_values(by='Count', ascending=False))

            Count  City  Average_Cost  Rating   Votes  Reviews
Restaurant
ID_7184        22     8        179.55    3.74  337.59   102.23
ID_7295        20     7        150.00    3.73   62.40    34.55
ID_4625        20     6        100.00    1.54    2.05     1.80
ID_5321        19     7        100.00    1.77    5.16     3.05
ID_5538        19     8        100.00    2.06    3.47     1.53
...           ...   ...           ...     ...     ...      ...
ID_4915         1     1        100.00    0.00    0.00     0.00
ID_1            1     1        400.00    0.00    0.00     0.00
ID_4913         1     1        200.00    3.40  116.00    17.00
ID_4912         1     1        600.00    3.90  161.00    80.00
ID_0            1     1        150.00    0.00    0.00     0.00

[7480 rows x 6 columns]

In [59]:
print(food_restaurant.sort_values(by='Rating', ascending=False))

            Count  City  Average_Cost  Rating   Votes  Reviews
Restaurant
ID_678          1     1         500.0     4.9  2472.0   1875.0
ID_5776         1     1         350.0     4.9  1793.0   1028.0
ID_7748         1     1         550.0     4.9  1881.0   1509.0
ID_6682         1     1         550.0     4.9   227.0    213.0
ID_213          1     1         600.0     4.9   475.0    397.0
...           ...   ...           ...     ...     ...      ...
ID_5527         1     1         100.0     0.0     0.0      0.0
ID_148          4     1          50.0     0.0     0.0      0.0
ID_5534         1     1         150.0     0.0     0.0      0.0
ID_1482         1     1          50.0     0.0     0.0      0.0
ID_0            1     1         150.0     0.0     0.0      0.0

[7480 rows x 6 columns]

In [60]:
food_restaurant['Rating'].value_counts().to_frame().reset_index().rename(columns={'Rating':'Count', 'index':'Rating'}).sort_values(by='Rating',ascending=False)

     Rating  Count
48     4.90      5
30     4.80      9
22     4.70     23
188    4.67      1
135    4.63      1
..      ...    ...
178    0.75      1
166    0.62      1
140    0.60      1
125    0.36      1
0      0.00   1339

[190 rows x 2 columns]

In [61]:
## Bin the rating and plot rating to number of restaurants

In [62]:
food_restaurant[food_restaurant['Rating']==4.9].reset_index()#.join(food, how='left', on='Restaurant', lsuffix='_l')

  Restaurant  Count  City  Average_Cost  Rating   Votes  Reviews
0     ID_213      1     1         600.0     4.9   475.0    397.0
1    ID_5776      1     1         350.0     4.9  1793.0   1028.0
2    ID_6682      1     1         550.0     4.9   227.0    213.0
3     ID_678      1     1         500.0     4.9  2472.0   1875.0
4    ID_7748      1     1         550.0     4.9  1881.0   1509.0

In [63]:
food[food['Restaurant']=='ID_7184']

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,City
471,ID_7184,"Moulali, Kolkata","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.7,132.0,52.0,30 minutes,Kolkata
1381,ID_7184,"Delhi Administration Flats, Timarpur","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,4.1,937.0,278.0,45 minutes,Delhi
1491,ID_7184,"Sandhurst Road, Mumbai CST Area","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.1,254.0,91.0,30 minutes,Mumbai
1658,ID_7184,"Delhi High Court, India Gate","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,3.5,264.0,131.0,65 minutes,Delhi
1681,ID_7184,Delhi Cantt.,"Wraps, Healthy Food, Sandwich, Salad",150.0,₹0,3.8,428.0,133.0,65 minutes,Delhi
2168,ID_7184,"Hyderabad Public School, Begumpet","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.7,29.0,8.0,30 minutes,Hyderabad
2271,ID_7184,"Gora Bazar, Rajbari, North Dumdum, Kolkata","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,4.0,373.0,171.0,30 minutes,Kolkata
3024,ID_7184,Pune University,"Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,4.1,200.0,62.0,45 minutes,Pune
3063,ID_7184,"Sector 3, Marathalli","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.6,57.0,16.0,30 minutes,Bangalore
3215,ID_7184,"Jaya Nagar, Saidabad, Hyderabad","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.5,254.0,22.0,30 minutes,Hyderabad
3585,ID_7184,Delhi University-GTB Nagar,"Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,4.1,937.0,278.0,45 minutes,Delhi
3634,ID_7184,"Sector 63A,Gurgaon","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,3.9,416.0,113.0,30 minutes,Gurgaon
4410,ID_7184,"D-Block, Sector 63, Noida","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,2.9,332.0,90.0,45 minutes,Noida
5191,ID_7184,"Chandni Chowk, Kolkata","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.7,132.0,52.0,30 minutes,Kolkata
5860,ID_7184,"Laxman Vihar Industrial Area, Sector 3A, Gurgoan","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,3.8,434.0,128.0,45 minutes,Gurgaon
6038,ID_7184,"Yerawada, Pune, Maharashtra","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.6,191.0,64.0,30 minutes,Mumbai
6050,ID_7184,"FTI College, Law College Road, Pune","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,4.1,200.0,62.0,45 minutes,Pune
7381,ID_7184,"Sector 1, Noida","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,4.0,568.0,135.0,65 minutes,Noida
7677,ID_7184,"Nathan Road, Mangaldas Road, Pune","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹99,3.5,196.0,78.0,45 minutes,Pune
9497,ID_7184,"MG Road, Pune","Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,4.0,238.0,72.0,65 minutes,Pune
9956,ID_7184,Mumbai Central,"Fast Food, Healthy Food, Sandwich, Salad",200.0,₹50,3.6,287.0,78.0,65 minutes,Mumbai
10142,ID_7184,"Sector 14, Noida","Wraps, Healthy Food, Sandwich, Salad",150.0,₹50,4.0,568.0,135.0,65 minutes,Noida

In [64]:
food_restaurant.to_csv("out/food_restaurant.csv")

## food_categories

In [65]:
cuisines_ = food['Cuisines'].value_counts().index.tolist()
cuisines = []
for c in cuisines_:
    cuisines.extend([i.strip() for i in c.split(',')])
cuisines = list(set(cuisines))
cuisines = sorted(cuisines)
print(len(cuisines), cuisines)

101 ['Afghan', 'African', 'American', 'Andhra', 'Arabian', 'Asian', 'Assamese', 'Awadhi', 'BBQ', 'Bakery', 'Bangladeshi', 'Bar Food', 'Belgian', 'Bengali', 'Beverages', 'Bihari', 'Biryani', 'Bohri', 'Brazilian', 'Bubble Tea', 'Burger', 'Burmese', 'Cafe', 'Cantonese', 'Charcoal Chicken', 'Chettinad', 'Chinese', 'Coffee', 'Continental', 'Desserts', 'European', 'Fast Food', 'Finger Food', 'French', 'Frozen Yogurt', 'German', 'Goan', 'Greek', 'Gujarati', 'Healthy Food', 'Hot dogs', 'Hyderabadi', 'Ice Cream', 'Indian', 'Indonesian', 'Iranian', 'Israeli', 'Italian', 'Japanese', 'Juices', 'Kashmiri', 'Kebab', 'Kerala', 'Konkan', 'Korean', 'Lebanese', 'Lucknowi', 'Maharashtrian', 'Malaysian', 'Malwani', 'Mangalorean', 'Mediterranean', 'Mexican', 'Middle Eastern', 'Mishti', 'Mithai', 'Modern Indian', 'Momos', 'Mughlai', 'Naga', 'Nepalese', 'North Eastern', 'North Indian', 'Odia', 'Paan', 'Parsi', 'Pizza', 'Poké', 'Portuguese', 'Rajasthani', 'Raw Meats', 'Roast Chicken', 'Rolls', 'Salad', 'Sandwich', 'Seafood', 'South American', 'South Indian', 'Spanish', 'Sri Lankan', 'Steak', 'Street Food', 'Sushi', 'Tamil', 'Tea', 'Tex-Mex', 'Thai', 'Tibetan', 'Turkish', 'Vietnamese', 'Wraps']

In [73]:
cuisines_ = food['Cuisines'].value_counts().index.tolist()
cuisines_restaurants_ = {}
for c in cuisines_:
    for i in c.split(','):
        cuisine = i.strip()
        if cuisine in cuisines_restaurants_.keys():
            cuisines_restaurants_[cuisine] += 1
        else:
            cuisines_restaurants_[cuisine] = 1   
cuisines_restaurants_ = dict(sorted(cuisines_restaurants_.items(), key=lambda item: item[1], reverse=True))   
print(len(cuisines_restaurants_), cuisines_restaurants_)
cuisines_restaurants = pd.DataFrame(list(zip(cuisines_restaurants_.keys(), cuisines_restaurants_.values())), columns=['Cuisine','Number of Restaurants'])
cuisines_restaurants.head()
cuisines_restaurants.to_csv('out/cuisines_restaurants.csv')

101 {'North Indian': 970, 'Chinese': 822, 'Fast Food': 655, 'Beverages': 435, 'Continental': 317, 'Italian': 312, 'Desserts': 293, 'Biryani': 285, 'South Indian': 284, 'Mughlai': 218, 'Street Food': 202, 'Cafe': 188, 'Rolls': 161, 'Pizza': 154, 'Burger': 151, 'Sandwich': 141, 'Salad': 133, 'Healthy Food': 129, 'Momos': 128, 'Asian': 119, 'Seafood': 114, 'Bakery': 110, 'Mithai': 94, 'Thai': 88, 'Kebab': 83, 'American': 81, 'Ice Cream': 69, 'Mexican': 66, 'Juices': 62, 'European': 52, 'Bengali': 49, 'Andhra': 46, 'Arabian': 46, 'Lebanese': 45, 'Finger Food': 45, 'Maharashtrian': 43, 'Wraps': 41, 'Kerala': 41, 'Japanese': 38, 'BBQ': 34, 'Hyderabadi': 29, 'Tea': 28, 'Mediterranean': 23, 'Sushi': 21, 'Tibetan': 19, 'Rajasthani': 18, 'Coffee': 17, 'Modern Indian': 16, 'Mangalorean': 15, 'Afghan': 15, 'Mishti': 13, 'Bar Food': 13, 'Odia': 11, 'Vietnamese': 11, 'Gujarati': 11, 'Malwani': 10, 'Korean': 10, 'Bihari': 10, 'Chettinad': 10, 'Awadhi': 9, 'Steak': 9, 'Malaysian': 9, 'Raw Meats': 9, 'Lucknowi': 9, 'Burmese': 7, 'Paan': 6, 'North Eastern': 6, 'Kashmiri': 6, 'Parsi': 5, 'Poké': 5, 'Bubble Tea': 5, 'Goan': 4, 'Iranian': 4, 'German': 4, 'Turkish': 4, 'Naga': 4, 'Konkan': 4, 'Middle Eastern': 4, 'Tex-Mex': 4, 'French': 3, 'Roast Chicken': 3, 'Frozen Yogurt': 2, 'Brazilian': 2, 'Bangladeshi': 2, 'Hot dogs': 2, 'Nepalese': 2, 'Charcoal Chicken': 2, 'Indonesian': 2, 'Tamil': 2, 'Israeli': 2, 'Assamese': 2, 'Belgian': 2, 'Indian': 2, 'South American': 1, 'Portuguese': 1, 'Spanish': 1, 'Cantonese': 1, 'Greek': 1, 'Bohri': 1, 'Sri Lankan': 1, 'African': 1}

In [ ]:
food_Categories = {   
    'Indian - Regional' : ['Andhra', 'Assamese', 'Awadhi','Bengali', 'Bihari', 'Chettinad',  'Kashmiri','Kerala', 'Goan', 'Gujarati', 'Hyderabadi', 
                        'Konkan',  'Lucknowi', 'Maharashtrian', 'Malwani', 'Mangalorean','Naga','North Eastern', 'North Indian', 'Odia','Rajasthani',
                         'South Indian', 'Tamil' ],
    'International' : ['Afghan', 'African', 'American', 'Arabian', 'Asian', 'Bangladeshi', 'Belgian', 'Brazilian','Burmese', 'Cantonese', 'Chinese', 
                    'European','French', 'German', 'Greek', 'Indonesian', 'Iranian', 'Israeli', 'Italian', 'Japanese', 'Korean', 'Lebanese',
                    'Malaysian', 'Mediterranean', 'Mexican', 'Middle Eastern',  'Nepalese', 'Portuguese', 'South American', 'Spanish', 'Sri Lankan',
                    'Thai', 'Tibetan', 'Turkish', 'Vietnamese']
}   

''' 
 BBQ', 'Bakery',  'Bar Food',  'Beverages', 'Biryani', 'Bohri',  'Bubble Tea', 'Burger', 
 'Cafe', 'Charcoal Chicken',  'Coffee', 'Continental', 'Desserts', 'Fast Food', 'Finger Food', 'Frozen Yogurt', 
   'Healthy Food', 'Hot dogs', 'Ice Cream', 'Indian',  'Juices', 'Kebab', 
   'Mishti', 'Mithai', 'Modern Indian', 'Momos', 
  'Mughlai',  'Paan', 'Parsi', 'Pizza', 'Poké',  'Raw Meats', 'Roast Chicken', 
  'Rolls', 'Salad', 'Sandwich', 'Seafood', 'Steak', 'Street Food', 'Sushi', 'Tea', 'Tex-Mex',  'Wraps'''

In [ ]:
def getCategory(x):
    #print(x.split(','))
    for i in x.split(','):
        if i in food_Categories['Indian - Regional']:
            return 'Indian'
        if i in food_Categories['International']:
            return 'International'
    return 'No Idea'
        

food['category'] = food['Cuisines'].apply(lambda x: getCategory(x))
food.head()

In [ ]:
food[food['category'] == 'Indian']

In [ ]:
food[food['category'] == 'International']

In [ ]:
food[food['category'] == 'No Idea'].shape[0]

In [ ]:
food['Cuisines']